{{ define "main" }}
  <!-- Banner -->
  {{ with .Params.banner }}
    <section class="section pt-14">
      <div class=" reveal container">
        <div class="row justify-center">
          <div class="lg:col-6 md:col-6 mb-8 text-center">
            <h1 class="reveal-16 mb-4 text-h4 lg:text-h2">
            </h1>
            <p class="reveal-17 mb-8 " >
              {{ .content | markdownify }}
            </p>
            {{ with .button }}
              {{ if .enable }}
                <a
                 
                  class="btnContact dark:btnContact2 btn btn-primary"
                  href="{{ .link | absURL }}"
                  {{ if strings.HasPrefix .link `http` }}
                    target="_blank" rel="noopener"
                  {{ end }}>
                 
                  <i class="fa fa-envelope"></i>
                  {{ .label }}
                </a>
              {{ end }}
            {{ end }}
          </div>
          <div class="reveal-19 col-6">
            {{ partial "image" (dict "Src" .image "Alt" "Banner image" "Loading" "eager" "Class" "mx-auto lg:!max-w-[800px]" "DisplayXL" "800x" ) }}
          </div>
        </div>
      </div>
    </section>
  {{ end }}
  <!-- /Banner -->

  <style>
    
  .btnContact:hover{color:#080808;background-color:transparent;border-color:#000}
  .btnContact2:hover{color:#8b8b8b;background-color:transparent;border-color:#949494d0}
     
      

 

    
  .reveal [class*="reveal-"] {
      opacity: 0;
      transform: translateY(30px);
    }

    .reveal-visible [class*="reveal-"] {
      opacity: 1;
      transform: translate(0);
      transition: 1s cubic-bezier(.54,.01,0,.98)
    }

    .reveal-visible .reveal-2 {
      transition-delay: .1s;
    }

    .reveal-visible .reveal-3 {
      transition-delay: .2s;
    }
    .reveal-visible .reveal-4 {
      transition-delay: .3s;
    }
    .reveal-visible .reveal-5 {
      transition-delay: .1s;
    }
    .reveal-visible .reveal-6 {
      transition-delay: .2s;
    }
    .reveal-visible .reveal-7 {
      transition-delay: .3s;
    }
    .reveal-visible .reveal-8 {
      transition-delay: .3s;
    }
    .reveal-visible .reveal-9 {
      transition-delay: .3s;
    }
    .reveal-visible .reveal-10 {
      transition-delay: .4s;
    }
    .reveal-visible .reveal-12 {
      transition-delay: .5s;
    }
    .reveal-visible .reveal-13 {
      transition-delay: .7s;
    }
    .reveal-visible .reveal-14 {
      transition-delay: .2s;
    }
    .reveal-visible .reveal-15 {
      transition-delay: .3s;
    }
    .reveal-visible .reveal-16 {
      transition-delay: .1s;
    }
    .reveal-visible .reveal-17 {
      transition-delay: .1s;
    }
    .reveal-visible .reveal-18 {
      transition-delay: 2s;
    }
    .reveal-visible .reveal-19 {
      transition-delay: .3s;
    }

    @media (prefers-reduced-motion: reduce) {
      .reveal-visible [class*="reveal-"] {
        opacity: 1;
        transform: translate(0)
      }
    }
  </style>

  <!-- Features -->
  {{ range $i, $e:= .Params.features }}
    <section class="section-sm pb-0 mb-0 {{ if (modBool $i 2) }}bg-gradient{{ end }}">
      <div class="reveal container">
        <div class="row items-center justify-between">
          <div
            class=" reveal-1 mb:md-0 {{ if not (modBool $i 2) }}
              md:order-2
            {{ end }} md:col-5 mb-6">
            {{ partial "image" (dict "Src" .image "Alt" "feature image" "DisplayXL" "520x" "DisplayLG" "425x" "DisplayMD" "360x") }}
          </div>
          <div
            class=" {{ if not (modBool $i 2) }}
              md:order-1
            {{ end }} md:col-7 lg:col-6">
            
            <h2 class="reveal-2 mb-4 " >
              {{ .title | markdownify }}
            </h2>
            <p class="reveal-2 mb-8 text-lg ">
              {{ .content  }}
            </p>
            <ul>
              {{ range .bulletpoints }}
                <li class=" reveal-3 mb-4 pl-6 ">
                  <i class="fa fa-check absolute left-0 top-1.5"></i>
                  {{ . | markdownify }}
                </li>
              {{ end }}
            </ul>
            {{ with .button }}
              {{ if .enable }}
                <a class="btnContact dark:btnContact2 btn btn-primary mt-6" href="{{ .link | absURL }}"
                  {{ if strings.HasPrefix .link `http` }}
                  target="_blank" rel="noopener"
                {{ end }}>
                {{ .label }}
                  <i class="fa fa-arrow-right pl-2"></i>
                </a>
              {{ end }}
            {{ end }}
          </div>
        </div>
      </div>
    </section>
  {{ end }}
  <!-- /Features -->
  <!-- /Education -->

  {{ if .Params.education.enable }}
<section class="pt-4 mt-4  section--border-bottom rad-animation-group">
  <div class="reveal  container px-4">
    <div class="row  rad-fade-down">
      
        <h2 class="reveal-4">{{ .Params.education.title }}</h2>
        <div class="row  pt-4 pt-md-4 ml-lg-50">
          {{ range $i, $e := .Params.education.items }}
            <div class="col-6 col-sm-6 mb-4 mb-sm-0 ">
              <div class="reveal-5 education mb-5">
                <div class="reveal-6 education__date">{{ $e.year | markdownify }}</div>
                <div class="reveal-7 education__title">{{ $e.university  | markdownify}}</div>
                <div class="reveal-8 education__degree">{{ $e.degree| markdownify }}</div>
              </div>
            </div>
          {{ end }}
        </div>
      
    </div>
  </div>
</section>
{{ end }}

<style>
  @media (min-width: 992px) {
    .ml-lg-50 {
      margin-left: 50px;
    }
  }
  .education{position:relative;display:-webkit-box;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;flex-direction:column;-webkit-box-pack:center;justify-content:center;-webkit-box-align:start;align-items:flex-start;min-height:131px}
  .education::before{content:'';position:absolute;left:90px;top:0;width:75px;height:100%;z-index:1;background-color:#f8000044;-webkit-transform:skew(-13deg);transform:skew(-13deg)}
  .education__date{position:relative;font-size:14px;font-weight:300;z-index:2}
  .education__title{position:relative;font-size:24px;font-weight:600;z-index:2}
  .education__degree,.experience__date{font-size:14px;font-weight:300;z-index:2;position:relative}
 

</style>
  <!-- /Education -->  

  <!-- /Experience -->
  <section id="experience" class="bg-gradient section section--border-bottom rad-animation-group">
    <div class="reveal  container">
        <div class="row flex-column-reverse flex-md-row rad-fade-down">
            <div class="col-6 col-sm-6 mt-5 mt-sm-0">
                {{ with .Params.experience.items }}
                    {{ range . }}
                        <div class="experience ">
                            <div class="reveal-10 experience__date mt-2">{{ .duration }}</div>
                            <div class="reveal-12 experience__title text-lg">{{ .title }}</div>
                            <div class="reveal-13 experience__company">{{ .company }}</div>
                        </div>
                    {{ end }}
                {{ end }}
            </div>
            <div class="col-6 col-sm-6 mb-2">
                <h2 class="reveal-9" >{{ .Params.experience.title | markdownify }}</h2>
                <p class="reveal-9 mt-2 mb-2 text-lg">
                    {{ .Params.experience.description | markdownify }}
                </p>
                
                {{ with .Params.experience.button }}

                
                <embed src="./images/doc/Cv_bragance_marcel.pdf" type="application/pdf" width="100%" height="600px" />
                <a href="{{ .URL }}"  class= "btnContact dark:btnContact2 reveal-9 btn btn-primary mt-5" target="_blank">
                        <i class="{{ .icon }}"></i>
                        {{ .btnText }}
                        <i class="icon-arrow-right"></i>
                    </a>
                {{ end }}
                {{ with .Params.experience.button2 }}
                    <a href="{{ .URL }}" class="btnContact dark:btnContact2 reveal-13 btn btn-frameless" target="_blank">
                        <i class="{{ .icon }}"></i>
                        {{ .btnText }}
                    </a>
                {{ end }}
            </div>
        </div>
    </div>
</section>

<style>
  .experience+.experience{padding-top:50px}
  .experience__date{line-height:1.57}
  .experience__date{font-size:14px;font-weight:300;z-index:2;position:relative}
  .experience__title{position:relative;font-size:20px;font-weight:600;z-index:2}
  @media (min-width:992px){.experience__title{font-size:24px}}
  .experience__company{font-size:14px;font-weight:700;color:#e93e34}
  .text-red {
    --tw-text-opacity: 1;
    color: #FDBBBB;
  }
  .text-reddark {
    --tw-text-opacity: 1;
    color: #571515;
  }

</style>
  <!-- /Experience -->
  <!-- Testimonials -->
  {{ with site.GetPage "sections/testimonial" }}
    {{ if .Params.enable }}
      <section >
        <div class="reveal  container">
          <div class="row">
            <div class="md:col-10 lg:col-8 xl:col-6 mx-auto mb-12 text-center">
              <h2 class="reveal-14 mb-4">
                {{ .Title | markdownify }}
              </h2>
              <p class="reveal-15">
                {{ .Params.description | markdownify }}
              </p>
            </div>
            <div class="reveal-15 col-12">
              <div class="swiper testimonial-slider">
                <div class=" swiper-wrapper">
                  {{ range .Params.testimonials }}
                    <div class="swiper-slide">
                      <div
                        class="bg-theme-light dark:bg-darkmode-theme-light rounded-lg px-7 py-10">
                        <div class="text-red dark:text-reddark ">
                          <svg
                            width="33"
                            height="20"
                            viewBox="0 0 33 20"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M1.28375 19.41L0.79375 18.64C1.21375 17.0067 1.75042 15.07 2.40375 12.83C3.05708 10.5433 3.75708 8.28 4.50375 6.04C5.29708 3.75333 6.06708 1.77 6.81375 0.0899959H15.3538C14.9338 2.09666 14.4904 4.26667 14.0238 6.6C13.5571 8.88666 13.1371 11.15 12.7638 13.39C12.4371 15.5833 12.1571 17.59 11.9238 19.41H1.28375ZM31.69 0.0899959L32.18 0.859998C31.76 2.54 31.2233 4.5 30.57 6.74C29.9167 8.98 29.2167 11.2433 28.47 13.53C27.7233 15.77 26.9533 17.73 26.16 19.41H17.69C18.0167 17.9167 18.3433 16.33 18.67 14.65C18.9967 12.9233 19.3 11.22 19.58 9.54C19.9067 7.81333 20.1867 6.15667 20.42 4.57C20.7 2.93666 20.91 1.44333 21.05 0.0899959H31.69Z"
                              fill="currentColor" />
                          </svg>
                        </div>
                        <blockquote class="mt-8 text-lg">
                          
                          <h3 class="pb-5 h5 font-primary font-semibold">
                            {{ .name }}
                          </h3>
                          <p class="pb-5  text-dark dark:text-white text-sm">
                            {{ range .tags}}

                                {{ . | markdownify}}
                          
                            {{ end }}
                            </p>
                          
                          {{ with .button_content }}
                        
                          {{ if .enable }}


                          
                           <a class="no-underline hover:underline" href="{{ .link | absURL }}"
                              {{ if strings.HasPrefix .link `http` }}
                              target="_blank" rel="noopener"
                            {{ end }}>
                            {{ .label }}
                              <i class="fa-hand-o-right"></i>
                            </a>
                          


                            
                          {{ end }}
                        {{ end }}
                        </blockquote>
                       
                        <div class="mt-11 flex items-center">
                          <div class="text-dark dark:text-white">
                            {{ partial "image" (dict "Src" .avatar "Size" "70x70" "Class" "rounded-lg" "Alt" .name) }}
                          </div>
                          <div class="ml-4">
                            <h3 class="h5 font-primary font-semibold">
                              {{ .name }}
                            </h3>
                            <p class="text-dark dark:text-white">
                              {{ .designation | markdownify }}
                            </p>
                          </div>
                        </div>
                        {{ with .button }}
                          {{ if .enable }}
                            <a class="btnContact dark:btnContact2 btn btn-primary mt-6" href="{{ .link | absURL }}"
                              {{ if strings.HasPrefix .link `http` }}
                              target="_blank" rel="noopener"
                            {{ end }}>
                            {{ .label }}
                              <i class="fa fa-arrow-right pl-2"></i>
                            </a>
                          {{ end }}
                        {{ end }}

                        
                      </div>
                      
                      
                    </div>
                    
                  {{ end }}
                </div>
                <div
                  class=" testimonial-slider-pagination mt-9 flex items-center justify-center text-center"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
    {{ end }}
  {{ end }}
  <!-- /Testimonials -->
  <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
  <script>

    const ratio = .1;

    const options = {
      root: null,
      rootMargin: "0px",
      threshold: .1,
    };

 const handleIntersect = function(entries, observer) {

  entries.forEach(function(entry) {
    if (entry.intersectionRatio > ratio) {
      
      entry.target.classList.add('reveal-visible');
      observer.unobserve(entry.target);
    }
  });


   
  };

    const observer = new IntersectionObserver(handleIntersect, options);
    document.querySelectorAll('.reveal').forEach(function(r) {
      observer.observe(r);
    });

    

  </script>
{{ end }}
